@model List<VehicleType>

@{
    int count = 0;
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6 text-uppercase">
            <h2>Vehicle Type List</h2>
        </div>
        <div class="col-md-6 text-end">
            <a asp-area="Admin" asp-controller="VehicleType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create
            </a>
        </div>
    </div>
    <hr />

    @if (Model != null && Model.Any())
    {
        <table id="table" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">S. No</th>
                    <th class="text-center">Vehicle Type</th>
                    
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" width="20%">@(++count)</td>
                        <td  width="60%">@item.Name</td>
                        
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-area="Admin" asp-controller="VehicleType"
                                   asp-action="Details"
                                   asp-route-id="@item.Id"
                                   class="btn btn-info btn-sm"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="View details">
                                    <i class="bi bi-info-circle"></i> Details
                                </a>
                                <a asp-area="Admin" asp-controller="VehicleType"
                                   asp-action="Edit"
                                   asp-route-id="@item.Id"
                                   class="btn btn-warning btn-sm"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="View details">
                                    <i class="bi bi-pencil-square"></i> Update
                                </a>
                                <a asp-area="Admin" asp-controller="VehicleType"
                                   asp-action="Delete"
                                   asp-route-id="@item.Id"
                                   class="btn btn-danger btn-sm"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   title="View details">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                            
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center text-uppercase text-warning pt-4">
                        No Brands Found
                    </h2>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        $('.table').DataTable();
    </script>
}